MONGODB_URI=mongodb+srv://pethmi9:pethmi09@cluster0.furwrbi.mongodb.net/MenteCart
JWT_SECRET=c0f76571745c9f8f32180e3734a62bdc398b49638473c0df2082c0993fdd6abc024dd9d959ff118a1aa37c2d7470ea9d40b72aa171a62ec61212aa4cc392d7b9
JWT_EXPIRES_IN=1d
PORT=5000
NODE_ENV=development
BCRYPT_SALT_ROUNDS=10
CART_EXPIRY_HOURS=24
MAX_BOOKINGS_PER_DAY=5
CORS_ORIGIN=http://localhost:3000
PAYHERE_MERCHANT_ID=1214993
PAYHERE_SECRET=dummy_sandbox_secret
WEBHOOK_SECRET=my_custom_webhook_secret
PAYHERE_API_URL=https://sandbox.payhere.lk/pay/checkout
